<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DumbDataReader.Properties.Settings.systemdbdevConnectionString" connectionString="Data Source=10.20.0.22;Initial Catalog=systemdbdev;Persist Security Info=True;User ID=NArmstrong;Password=army" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v2.0.50727"/>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
